# Pandas: Series y Dataframes

In [2]:
import pandas as pd

In [4]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1,7,10,30])

In [6]:
dictionary = {1:'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}
dictionary

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [7]:
psg = pd.Series(dictionary)

In [8]:
psg

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
psg_players[1]

'Navas'

In [10]:
psg_players[30]

'Messi'

In [14]:
psg_series = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Mesii'])

In [15]:
psg_series

0     Navas
1    Mbappe
2    Neymar
3     Mesii
dtype: object

In [16]:
psg_series[:2]

0     Navas
1    Mbappe
dtype: object

In [17]:
frame = {'Jugador': ['Navas','Mbappe','Neymar','Messi'],
        'Altura':[1.83, 1.70, 1.70, 1.65],
        'Goles': [2,200,200,300]}

In [18]:
frame

{'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'Altura': [1.83, 1.7, 1.7, 1.65],
 'Goles': [2, 200, 200, 300]}

In [21]:
pd_frame = pd.DataFrame(frame, index=[1,7,10,30])

In [22]:
pd_frame

   Jugador  Altura  Goles
1    Navas    1.83      2
7   Mbappe    1.70    200
10  Neymar    1.70    200
30   Messi    1.65    300

In [23]:
pd_frame.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [24]:
pd_frame.index

Int64Index([1, 7, 10, 30], dtype='int64')